{% extends "base1.html" %}
{% block title %}Registro exitoso.{% endblock %}
{% block body %}
<style type="text/css">
a:link {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    font-size: 18px;
    color: #DB8400;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    font-size: 18px;
    color: #DB8400;
    text-decoration: underline;
    font-weight: bolder;
}
</style>

<div align="center">
  <p class="text7">¡Felicidades! Se ha registrado correctamente</p>
  <p>
       <a href="/login">Volver a la página de inicio de sesión </a>
  </p>
</div>
{% endblock %}